@font-face {
    font-family: 'Montserrat-Black';
    src: local('Montserrat Black'),
    local('Montserrat-Black'),
    url('#{$font-path}/Montserrat-Black.otf') format('opentype')
}
@font-face {
    font-family: 'Muli-ExtraLight';
    src: local('Muli ExtraLight'),
    local('Muli-ExtraLight'),
    url('#{$font-path}/Muli-ExtraLight.ttf') format('opentype')
}
@font-face {
    font-family: 'Muli-Regular';
    src: local('Muli Regular'),
    local('Muli-Regular'),
    url('#{$font-path}/Muli-Regular.ttf') format('opentype')
}
@font-face {
    font-family: 'Muli-Light';
    src: local('Muli Light'),
    local('Muli-Light'),
    url('#{$font-path}/Muli-Light.ttf') format('opentype')
}
@font-face {
    font-family: 'Muli-Bold';
    src: local('Muli Bold'),
    local('Muli-Bold'),
    url('#{$font-path}/Muli-Bold.ttf') format('opentype')
}

@font-face {
    font-family: 'Poppins-Medium';
    src: local('Poppins Medium'),
    local('Poppins-Medium'),
    url('#{$font-path}/Poppins-Medium.otf') format('opentype')
}
@font-face {
    font-family: 'Poppins-Black';
    src: local('Poppins Black'),
    local('Poppins-Black'),
    url('#{$font-path}/Poppins-Black.otf') format('opentype')
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: local('Poppins ExtraBold'),
    local('Poppins-ExtraBold'),
    url('#{$font-path}/Poppins-ExtraBold.otf') format('opentype')
}

@font-face {
    font-family: 'Poppins-Bold';
    src: local('Poppins Bold'),
    local('Poppins-Bold'),
    url('#{$font-path}/Poppins-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'NHaasGroteskTXStd-76BdIt';
    src: local('NHaasGroteskTXStd 76BdIt'),
    local('NHaasGroteskTXStd-76BdItk'),
    url('#{$font-path}/NHaasGroteskTXStd-76BdIt.ttf') format('opentype')
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat Bold'),
    local('Montserrat-Bold'),
    url('#{$font-path}/Montserrat-Bold.otf') format('opentype')
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: local('Montserrat ExtraBold'),
    local('Montserrat-ExtraBold'),
    url('#{$font-path}/Montserrat-ExtraBold.otf') format('opentype')
}


@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat Medium'),
    local('Montserrat-Medium'),
    url('#{$font-path}/Montserrat-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat Regular'),
    local('Montserrat-Regular'),
    url('#{$font-path}/Montserrat-Regular.otf') format('opentype')
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: local('Montserrat SemiBold'),
    local('Montserrat-SemiBold'),
    url('#{$font-path}/Montserrat-SemiBold.otf') format('opentype')
}

@font-face {
    font-family: 'Neue Haas Grotesk Text Std Roman';
    src: local('Neue-Haas-Grotesk-Text-Std-Roman'),
    local('Neue Haas Grotesk Text Std Roman'),
    url('#{$font-path}/NHaasGroteskTXStd-55Rg.otf') format('opentype')
}

@font-face {
    font-family: 'Neue Haas Grotesk Text Std Medium';
    src: local('Neue-Haas-Grotesk-Text-Std-Medium'),
    local('Neue Haas Grotesk Text Std Medium'),
    url('#{$font-path}/NHaasGroteskTXStd-65Md.otf') format('opentype')
}

@font-face {
    font-family: 'Neue Haas Grotesk Text Std Bold';
    src: local('Neue-Haas-Grotesk-Text-Std-Bold'),
    local('Neue Haas Grotesk Text Std Bold'),
    url('#{$font-path}/NHaasGroteskTXStd-75Bd.otf') format('opentype')
}

@font-face {
    font-family: 'Gotham-Black';
    src: local('Gotham Black'),
    local('Gotham-Black'),
    url('#{$font-path}/Gotham-Black.ttf') format('opentype')
}

@font-face {
    font-family: 'Gotham-Ultra';
    src: local('Gotham Ultra'),
    local('Gotham-Ultra'),
    url('#{$font-path}/Gotham-Ultra.otf') format('opentype')
}

@font-face {
    font-family: 'CocoSharp-Bold';
    src: local('CocoSharp Bold'),
    local('CocoSharp-Bold'),
    url('#{$font-path}/CocoSharp-Bold.otf') format('opentype')
}


@font-face {
    font-family: 'CocoSharp-Light';
    src: local('CocoSharp Light'),
    local('CocoSharp-Light'),
    url('#{$font-path}/CocoSharp-Light.otf') format('opentype')
}